:root {
  --orange: rgb(255, 187, 40);
}

body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  gap: 20px;
}

/* Top */

.top {
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2"
  ;
}

.hero {
  grid-area: hero;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 40px;
  background: white url(images/taco.jpg);
  background-size: cover;
  background-position: bottom right;
}

.hero > * {
  background: var(--orange);
  padding: 5px;
}

.cta {
  display: grid;
  align-content: center;
  justify-items: center;
  background: var(--orange);
}

.cta > * {
  margin: 0;
}

.price {
  font-size: 60px;
  font-weight: 200;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

/* Menu */

[aria-controls="menu-list"] {
  display: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  list-style: none;
  padding: 0;
}

.menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background: var(--orange);
  font-size: 20px;
  text-transform: uppercase;
  color: black;
}

/* Features */

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.feature {
  background: white;
  text-align: center;
  padding: 10px;
}

.feature p {
  color: grey;
}

.icon {
  font-size: 50px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 50px;
  background: white;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.gallery h2 {
  grid-column: 1 / -1;
  justify-self: center;
}

.gallery img {
  width: 100%;
}

